body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}
.demo-layout-transparent {
    min-height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-image: 
        linear-gradient(
        rgba(12,51,99, 0.8),
        rgba(12,51,99, 0.8)
        ),
        url(/images/bg-crop.jpg);
    background-repeat: no-repeat;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
/* This background is dark, so we set text to white. Use 87% black instead if
    your background is light. */
color: white;
}
/* .front-of-bg{
    position: absolute;
    margin-top: 2.5em;
} */

/* personalization */
.demo-card-wide.mdl-card {
    max-width: 512px;
    width: 100%;
    overflow: visible;
    min-width: 360px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.mdl-card__supporting-text--full{
    width: calc(100% - 32px);
}

/* file */
.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}

.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    margin-left: 48px;

}
.mdl-textfield--file .mdl-button--file {
    right: 0;
}

/*icone no textfield */
.mdl-textfield__icon {
    width: 32px;
    text-align: center;
    position: absolute;
    line-height: 1.5;
}

.mdl-textfield.is-disabled .mdl-textfield__icon {
    color: rgba(0, 0, 0, 0.26) !important;
}

.mdl-textfield__icon ~ * {
    width: calc(100% - 48px);
    margin-left: 48px;
}

.mdl-textfield.is-invalid .mdl-textfield__icon {
    color: #de3226 !important;
}
.mdl-cell{
    margin-left: 0;
}
li.mdl-list__item{
    padding-left: 0;
}
.mdl-button--fab.mdl-button--colored {
    background-color: #1579F3;
}

.mdl-button--fab.mdl-button--colored:hover {
    background-color: #1161c2;
}
.mdl-snackbar__text{
    padding: 0 10px;
}
.mdl-snackbar-alert{
    background-color: #f8d7da;
    border-color: #f5c6cb; 
}
.mdl-snackbar-success{
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.shadow{
    /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
    -webkit-filter: drop-shadow( 5px 5px 2px rgba(0, 0, 0, 0.16) ); 
            filter: drop-shadow( 5px 5px 2px rgba(0, 0, 0, 0.16) );
}

.phrase{
    color: white;
    font-weight: 300;
    font-size: 18px;
}

.fab-on-edge{
    position: absolute;
    right: 16px;
    bottom: -28px;
}

/* .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: rgb(12,51,99);
}
     */

@media (max-width: 1024px) {
    .phrase{
        margin-top: 30px;
    }
}