body{
    background-color: rgb(211, 218, 219);
}
a{
    text-decoration: none;
    color: #3a5199;
}
.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
    padding-right: 0;
 }
 .mdl-layout__header, .mdl-layout__tab-bar, .mdl-layout__tab-bar-button{
     background-color: #315199;
 }
 .mdl-layout.is-upgraded .mdl-layout__tab.is-active{
    color: rgba(255, 255, 255, 1.0);
 }
 .mdl-layout__tab{
    color: rgba(255, 255, 255, 0.6);
 }
/* .mdl-layout__drawer{
    background-color: #315199;
    border-right-color: #315199;

} */

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
    color: white;
}
.mdl-card{
    background-color: rgb(247, 246, 245);
}
.mdl-card-wide{
    width: 100%;
}
.mdl-dialog__title{
    font-size: 1.8rem;
}
.mdl-textfield__expandable-holder .mdl-textfield__input{
    border-bottom-color: white;
    color: white;
}

.mdl-card__title, .mdl-card__actions{
    background-color: #EFEBE9;
}
.mdl-card__menu{
    color: #757575;
}
.mdl-layout__drawer-button i{
    content: "filter_list" !important;
}

.br-widget{
    display: flex;
    align-items: center;
}


/* personalization */
.text-field-pd-0{
    margin: -20px 0 !important;
}

.icon-responsive{
    font-size: 24px !important;
}

.icon-color{
    color: #2f2e33;
}

.chip-estagio{
    background-color: #34D9AE;
    color: white;
}

.chip-contrato{
    background-color: #D08CEF;
    color: white;
}

.mdl-dialog{
    max-width: 460px;
    min-width: 360px;
    width: 100%;
}

/* to make big strings wrap and break to the next line */
.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  
  }


.removed-item {
    animation: removed-item-animation .4s cubic-bezier(.55,-0.04,.91,.94) forwards;
}
 
@keyframes removed-item-animation {
    from {
        opacity: 1;
        transform: scale(1);
    }
 
    to {
        opacity: 0;
        transform: scale(0);
    }
}

.rating{
    cursor: pointer;
    color: #edae01;
}

@media (max-width: 1366px) {
  .icon-responsive {
    font-size: 20px !important;
  }
}

@media (max-width: 472px) {
    .mdl-dialog {
      max-width: 90%;
    }
    .ev-submit-tag{
         width: 100%;
    }
    
    .mdl-textfield.is-focused .mdl-textfield__expandable-holder, .mdl-textfield.is-dirty .mdl-textfield__expandable-holder {
        max-width: 100px;
    }
  }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.5; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    opacity: 0.5;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    opacity: 0.5;
}