html, body {
  height: 100%;
  overflow: hidden;
  background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  font-family: 'Roboto', sans-serif;
}
.demo-card-square {
  max-width: 512px;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background-color: rgba(12,51,99);
}

.mdl-card__supporting-text--full{
  width: calc(100% - 32px);
}

/*icone no textfield */
.mdl-textfield__icon {
  width: 32px;
  text-align: center;
  position: absolute;
  line-height: 1.5;
}

.mdl-textfield.is-disabled .mdl-textfield__icon {
  color: rgba(0, 0, 0, 0.26) !important;
}

.mdl-textfield__icon ~ * {
  margin-left: 48px;
  width: calc(100% - 48px);
}

.mdl-textfield.is-invalid .mdl-textfield__icon {
  color: #de3226 !important;
}