/* utils */
.flex{
    display: flex;
}
.self-start{
    align-self: flex-start;
}
.self-center{
    align-self: center;
}
.self-end{
    align-self: flex-end;
}
.align-center{
    align-items: center;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.center{
    align-items: center;
    justify-content: center;
}
.flex-end{
    justify-content: flex-end;
}
.wrap-reverse{
    flex-wrap: wrap-reverse;
}
.block{
    display: block;
}
.none{
    display: none;
}

.space-between{
    justify-content: space-between;
}
.w-full{
    width: 100%;
}
.h-full{
    height: 100%;
}
.max{
    height: 100%;
    max-height: auto;
    width: 100%;
}
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}

/* tamanho de icone */
.icon-24{
    font-size: 24px;
    line-height: 36px;
}

.w-file{
    width: calc(100% - 48px); 
}

/* paddings */
.pd-20-tb{
    padding: 20px 0;
}
.pt-0{
    padding-top: 0;
}
.pt-15{
    padding-top: 15px;
}
.pt-16{
    padding-top: 16px;
}
.pl-48{
    padding-left: 48px;
}
.pl-16{
    padding-left: 16px;
}
.pl-0{
    padding-left: 0;
}
.pr-48{
    padding-right: 48px;
}
.pr-24{
    padding-right: 24px;
}
.pr-8{
    padding-right: 8px;
}
.pr-6{
    padding-right: 6px;
}
.pd-tb-60{
    padding-top: 60px;
    padding-bottom: 60px;
}
.pd-tb-0{
    padding-top: 0;
    padding-bottom: 0;
}
.pd-tb-8{
    padding-top: 8px;
    padding-bottom: 8px;
}
.pd-lr-64{
    padding-left: 64px;
    padding-right: 64px;
}
.pd-lr-16{
    padding-left: 16px;
    padding-right: 16px;
}
.pd-0{
    padding: 0;
}
.pd-16{
    padding: 16px !important;
}
.pb-5{
    padding-bottom: 5px;
}


/* fonts */
.font-16{
    font-size: 16px;
}
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-10{
    font-size: 10px;
}
/* colors */
.color-red{
    color: #de3226;
}
.color-dark-red{
    color: #721c24;
}
.color-dark-green{
    color: #155724;
}
.color-light-grey{
    color: #757575;
}
.color-white{
    color: white !important;
}
.bg-grey{
    background-color: #E0E0E0;
}
.bg-grey:hover{
    background-color: #BDBDBD;
}
.bg-light-blue{
    background-color: #a8cae6;
}
.bg-light-blue:hover{
    background-color: #78acd6;
}
/* margins */
.ml-48{
    margin-left: 48px;
}
.ml-0{
    margin-left: 0;
}
.ml-26{
    margin-left: 26px;
}
.ml-4{
    margin-left: 4px;
}
.ml-8{
    margin-left: 8px;
}
.ml-auto{
    margin-left: auto;
}
.mr-32{
    margin-right: 32px;
}
.mr-24{
    margin-right: 24px;
}
.mr-4{
    margin-right: 4px;
}
.mg-lr-10{
    margin-left: 10px;
    margin-right: 10px;
}
.mb-90{
    margin-bottom: 90px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-0{
    margin-bottom: 0;
}
.mb-4{
    margin-bottom: 4px;
}
.mt-0{
    margin-top: 0;
}
.mt-5{
    margin-top: 5px;
}
.mg-tb-0{
    margin-top: 0;
    margin-bottom: 0;
}
.mg-0{
    margin: 0;
}

/* position */
.pos-t-33{
    top: 33.33%;
}



/* common */

.logo{
    width: 50%;
    max-height: 50px;
    margin: 0 auto;
}

.logo-drawer{
    max-height: 35px;
}

@media (max-width: 1024px) {
    .logo{
        width: 30%;
        max-height: 35px;
        margin: 0 auto;
    }
}